        <!-- component: footer -->
        <footer>
            <div class="footer-bottom">
                <div class="container">
                    <p>Copyright © 2018 Sleep Coding</p>
                    <div class="social-media">
                        <a href="https://github.com/A-Maged?tab=repositories"><i class="fab fa-github"></i></a>
                        <a href="https://www.instagram.com/abd.elrahman_maged/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/cmaged451"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end component: footer -->

        <script src="{{ site.base }}/assets/js/jquery-3.3.1.min.js"></script>
        <script src="{{ site.base }}/assets/js/lightbox.min.js"></script>
        <script src="{{ site.base }}/assets/js/app.js"></script>
    </body>
</html>
