.hero
    position: relative
    width: 100%
    min-height: 390px
    overflow: hidden
    color: #fff !important
    background: url(../images/pexels-photo-196658.jpeg) no-repeat 
    background-position: bottom 
    background-size: cover


    .bg-media
        position: absolute
        top: 0
        left: 0
        min-width: 100%
        min-height: 100%

    .overlay-absolute
        background: rgba(0, 0, 0, 0.6)

    .content
        // margin-top: 15vh
        text-align: center
        +vertical-align
        top: 55%
        .slogan
            padding: 0 10px
            margin-bottom: 50px
            margin-top: 0
            