.hero
    position: relative
    width: 100%
    min-height: 345px
    // height: 50vh
    overflow: hidden
    color: #fff !important

    .overlay
        background: rgba(#355C7D, 0.5)


    .bg-media
        position: absolute
        top: 0
        left: 0
        min-width: 100%
        min-height: 100%

    .content
        // margin-top: 15vh
        text-align: center
        +vertical-align
        .slogan
            margin-bottom: 40px
